.button-less {
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.button-more {
  font-size: 20px;
  cursor: pointer;
  color: orange;
}

.table-burger {
  margin-left: 13%;
  margin-right: 18%;
}

.buttonTableCheckout {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
