.wrapperFormOrder {
  margin-left: 30%;
  border: 1px solid #333;
  margin-right: 34%;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.formOrder {
  max-width: 530px;
  padding: 20px;
}

.ButtonOrder {
  margin-top: 10px;
}
