.wrapperHeader {
  margin-left: 200px;
  margin-right: 300px;
}

.spaceHeader {
  display: flex;
  justify-content: space-between;
}

.containerHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.linkHeader {
  text-decoration: none;
  color: black;
}

.searchHeader {
  width: 300px;
}
