.wrapperBurger {
  margin-left: 14%;
  margin-right: 19%;
}

.imageBurger {
  margin-left: 220%;
}

.contentBurger {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
}
